---
import Layout from "@/layouts/Layout.astro"
import profile from "@/data/profile";
import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import { useTranslations } from "../../i18n/utils";
import { languageList } from "../../i18n/ui";

const currentLang = Astro.currentLocale;
const translatedLabels = useTranslations(currentLang as keyof typeof languageList);
---

<Layout
  title={translatedLabels("pageMeta.title")}
  description={translatedLabels("pageMeta.description")}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero
        name={profile.name}
        profession={profile.profession}
        avatar={profile.avatar}
        email={profile.email}
        social={profile.social}
      />
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          {translatedLabels("nav.experience.title")}
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          {translatedLabels("nav.projects.title")}
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          {translatedLabels("nav.aboutMe.title")}
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
