---
import type { HomeContent } from '@/data/homeContent';
import ExperienceItem from './ExperienceItem.astro';

export interface Props {
  content: HomeContent;
}

const { content } = Astro.props;
---

<ol class="relative mt-10">
  {
    content.experiences.map((exp) => (
      <li class="experience-list-item">
        <ExperienceItem
          title={exp.role}
          company={exp.company}
          description={exp.summary}
          link={exp.link}
          date={exp.period}
          location={exp.location}
          highlights={exp.highlights}
        />
      </li>
    ))
  }
</ol>

<style>
  .experience-list-item {
    list-style: none;
  }
</style>
