---
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import DocumentIcon from "@/components/icons/DocumentIcon.astro"; 
import SocialPill from "@/components/SocialPill.astro";

export interface Props {
  name: string;
  profession: string;
  avatar: string;
  email: string;
  social: {
    linkedin: string;
    github: string;
  };
}

const { name, profession, avatar, email, social } = Astro.props;
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src={avatar}
      alt={`Foto de ${name}`}
    />
    <a
      href={social.linkedin}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
    Hey, soy {name}
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
    <strong>{profession}</strong>. <strong>Desarrollador Fullstack</strong> con <strong>+6 años de experiencia</strong> en <strong>React, Node.js y TypeScript</strong>. Siempre busco crear aplicaciones web escalables y funcionales. Actualmente, resido en <strong>Valencia (España 🇪🇸)</strong>. Estoy siempre dispuesto a asumir nuevos retos y a aportar <strong>soluciones prácticas e innovadoras</strong>.
  </p>
</div>

<nav class="flex flex-wrap gap-4 mt-8">
  <SocialPill href={`mailto:${email}`}>
    <MailIcon class="size-4" />
    Contáctame
  </SocialPill>
  <SocialPill href={social.linkedin}>
    <LinkedInIcon class="size-4" />
    LinkedIn
  </SocialPill>
  <SocialPill href="/docs/Alan_Ortiz_ES.pdf" download="Alan_Ortiz_CV.pdf">
    <DocumentIcon class="size-4" />
    Descargar CV
  </SocialPill>
</nav>
