---
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import DocumentIcon from "@/components/icons/DocumentIcon.astro";
import SocialPill from "@/components/SocialPill.astro";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";
const currentLang = Astro.currentLocale;
const translatedLabels = useTranslations(
  currentLang as keyof typeof languageList,
);

export interface Props {
  name: string;
  profession: string;
  avatar: string;
  email: string;
  social: {
    linkedin: string;
    github: string;
  };
}

const { name, profession, avatar, email, social } = Astro.props;
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src={avatar}
      alt={`Foto de ${name}`}
    />
    <a
      href={social.linkedin}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>{translatedLabels("hero.badge.available")}</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    {`${translatedLabels("hero.iAm")} ${name}!`}
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>{translatedLabels("hero.overview.title")}</strong>
    {translatedLabels("hero.overview.with")}
    <strong>
      {translatedLabels("hero.overview.experience")}
    </strong>
    {translatedLabels("hero.overview.in")}
    <strong>
      {translatedLabels("hero.overview.technologies")}
    </strong>
    {translatedLabels("hero.overview.context")}
    <strong>
      {translatedLabels("hero.overview.location")}
    </strong>
    {translatedLabels("hero.overview.closing")}
    <strong>
      {translatedLabels("hero.overview.skills")}
    </strong>
  </p>
</div>

<nav class="flex flex-wrap gap-4 mt-8">
  <SocialPill href={`mailto:${email}`}>
    <MailIcon class="size-4" />
    {translatedLabels("hero.socialPills.contact")}
  </SocialPill>
  <SocialPill href={`${social.linkedin}?locale=${currentLang === 'en' ? 'en_US' : 'es_ES'}`}>
    <LinkedInIcon class="size-4" />
    {translatedLabels("hero.socialPills.linkedin")}
  </SocialPill>
  <SocialPill
    href={currentLang === "en"
      ? "/docs/Alan_Ortiz_EN.pdf"
      : "/docs/Alan_Ortiz_ES.pdf"}
    download={currentLang === "en"
      ? "Alan_Ortiz_CV_EN.pdf"
      : "Alan_Ortiz_CV_ES.pdf"}
  >
    <DocumentIcon class="size-4" />
    {translatedLabels("hero.socialPills.downloadCV")}
  </SocialPill>
</nav>
