---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import TypeScript from "./icons/TypeScript.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";

const currentLang = Astro.currentLocale;
const translatedLabels = useTranslations(currentLang as keyof typeof languageList);

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-[#1f2937] text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#09a6c1] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-[#1e2127] text-white",
    icon: React,
  },
  TS: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
};

const PROJECTS = [
  {
    id: "weatherApp",
    image: "/projects/weather_app.webp",
    link: "https://weather-app-five-iota-91.vercel.app/",
    github: "https://github.com/alanortiz-dev/weather-app",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.REACT, TAGS.TS],
  },
  {
    id: "kalanban",
    image: "/projects/kalanban.webp",
    link: "https://kalanban.vercel.app",
    github: "https://github.com/alanortiz-dev/kalanban",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.TS],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map((project) => (
      <article class="flex flex-col space-y-8 md:flex-row md:space-x-8 md:space-y-0 group">
        <!-- Imagen -->
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center gap-8 overflow-hidden rounded-xl shadow-xl transition duration-500 ease-in-out transform md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={translatedLabels(`projects.${project.id}.title`)}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={project.image}
            />
          </div>
        </div>

        <!-- Info -->
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {translatedLabels(`projects.${project.id}.title`)}
          </h3>

          <ul class="flex flex-row mb-2 gap-x-2 mt-2">
            {project.tags.map((tag) => (
              <li>
                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <p class="mt-2 text-gray-700 dark:text-gray-400">
            {translatedLabels(`projects.${project.id}.description`)}
          </p>

          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {project.github && (
              <LinkButton href={project.github}>
                <GitHub class="size-6" />
                {translatedLabels("projects.buttons.code")}
              </LinkButton>
            )}
            {project.link && (
              <LinkButton href={project.link}>
                <Link class="size-4" />
                {translatedLabels("projects.buttons.preview")}
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>